/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* bordas e padding nao serão adicionados ao height e width total*/
}

body {
    font-family: 'Lato', sans-serif; /* Fonte por boas praticas é no body, elemento pai de todos*/
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;  /*espaçamento exclusivo para esse site*/
}

.header {
    height: 95vh;
    /* Para adicionar cor em acima da imagem podemos utilizar o rgba e apos isso colocar uma imagem de fundo*/
    background-image: linear-gradient(
        to right bottom /* direção do gradiente*/, 
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 131, 0.8)) /* gradiente com opacidade 80% */, 
    url(../img/hero.jpg); 
    background-size: cover;
    background-position: top;
    position: relative;

    /* efeito de "corte" na imagem*/ 
    /*sempre em sentido horario, eixos x y*/
    clip-path: polygon(0 0 /*sem alteração*/, 100% /*largura da pagina toda*/ 0 /*sem alteração*/, 100% 75vh , 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% /*eixo x*/, -50% /*eixo y*/ ) /*deixa o item alinhado ao centro*/;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* arruma o bug da letra subir um pouco por causa da animação */
    backface-visibility: hidden; /*  */
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /* propriedades de animação uma a uma*/
    animation-name: moveInLeft; /*chama animação criada*/
    animation-duration: 1s; /*tempo de duração*/
    animation-timing-function: ease-out; /* estilo da animação */
}

.heading-primary-sub {
    display: block;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 17.4px;

    /*propriedades de animação combinadas*/
    animation: moveInRight 1s ease-out;
}

/* 
    Animaçao de texto no header 
    pode ser definido qualquer % para animação
*/
@keyframes moveInLeft {
    /* Inicio da animação */
    0% {
        opacity: 0;
        /* mover apenas eixo x para a esquerda*/
        transform: translateX(-100px);
    }

    80% {
        /* move eixo x para a direita*/
        transform: translateX(10px);
    }

    /* Final da animação */
    100% {
        opacity: 1;
        /* volta para o local definido em heading-primary-main*/
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* Inicio da animação */
    0% {
        opacity: 0;
        /* mover apenas eixo x para a esquerda*/
        transform: translateX(100px);
    }

    80% {
        /* move eixo x para a direita*/
        transform: translateX(-10px);
    }

    /* Final da animação */
    100% {
        opacity: 1;
        /* volta para o local definido em heading-primary-main*/
        transform: translate(0);
    }
}